.email-fetcher-card {
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f5f7fa;
}

.fetcher-title {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 600;
}

.auth-button,
.fetch-button {
  width: 100%;
  margin-top: 10px;
  background-color: #1890ff;
  border: none;
  color: #fff;
  border-radius: 4px;
}

.access-token-input {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.emails-list {
  margin-top: 20px;
}

.email-card {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.email-card .ant-typography {
  margin-bottom: 8px;
}

.scan-ai-button {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.scan-ai-button::before {
  margin-left: auto;
}

.scan-ai-button::after,
.scan-ai-button::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.scan-ai-button:hover::after,
.scan-ai-button:hover::before {
  width: 100%;
}
