.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.logo-title-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.app-logo {
  width: 50px;
}

.site-layout-content {
  padding: 24px;
  background: #fff;
  min-height: 280px;
}

.layout {
  min-height: 100vh;
}
